// ────────────── Output Configuration ──────────────
// You can run `niri msg outputs` to get the correct name for your displays.
// You will have to remove "/-" and edit it before it takes effect.
// https://github.com/YaLTeR/niri/wiki/Configuration:-Outputs

output "DP-1" {
    mode "2560x1440@164.958" // Set resolution and refresh rate
    scale 1 // No scaling (use 2 for HiDPI)
    position x=0 y=0
}
output "eDP-2" {
    mode "2560x1440@164.958" // Set resolution and refresh rate
    scale 1.5 // No scaling (use 2 for HiDPI)
    variable-refresh-rate
    position x=2560 y=0
}
